@use "../common.blocks/reset";
@use "../common.blocks/header/header";
@use "../common.blocks/welcome-screen/welcome-screen";
@use "../common.blocks/instructions/instructions";
@use "../common.blocks/catalog/catalog";
@use "../common.blocks/send-mail/send-mail";
@use "../common.blocks/footer/footer";
@use "../common.blocks/popup/popup";
@use "../common.blocks/menu-bar/menu-bar";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$black: #000000;
$red: #AE1332;
$green: #A4CB66;
$yellow: #F5CE13;

$font-family: "DM Sans", sans-serif;

body {
    background-color: $red;
    scroll-behavior: smooth;

    &.mobile-menu {
        overflow: hidden;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width:1500px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 700px !important;
    }
}

@media (max-width:800px) {
    .container {
        max-width: 370px !important;
    }
}