$black: #000000;
$red: #AE1332;
$green: #A4CB66;
$yellow: #F5CE13;

$font-family: "DM Sans", sans-serif;

.popup {
    background-image: url('../img/woman-without-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

    border-radius: 20px;
    width: 891px;
    background-color: #fff;
    padding: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    &__header {
        font-family: $font-family;
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: $red;
        margin-bottom: 40px;
    }

    &__cross {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
    }

    &__basket-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;

        margin-bottom: 40px;
    }

    &__basket-item {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px 10px 20px;
        position: relative;

        &--strawberry {
            background-color: #f8766b;
        }

        &--apple {
            background-color: #edd251;
        }

        &--fruits {
            background-color: #9dc262;
        }
    }

    &__image {
        width: 100%;
        height: 196px;
        object-fit: contain;
    }

    &__hidden-checkbox {
        appearance: none;
        opacity: 0;
        display: none;

        &:checked+.popup__custom-checkbox::after {
            content: url("../img/pick.svg");
            position: absolute;
            top: 0;
            left: 0;
            translate: 50%;
        }
    }

    &__custom-checkbox {
        width: 20px;
        height: 20px;
        border: 1.5px solid #fff;
        border-radius: 4px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }


    &__checkbox {
        position: absolute;
        top: 14px;
        right: 14px;
    }

    &__basket-name {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        line-height: 117%;
        color: #fff;
        margin-bottom: 8px;
    }

    &__basket-type {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;

        color: #fff;
    }

    &__form {


        &>button {
            padding: 15px 35px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 129%;
            text-transform: capitalize;
            color: #fff;
            border-radius: 100px;
            background-color: #9dc162;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;

        &>input,
        &>textarea {
            border: 1px solid #bbb9b9;

            border-radius: 100px;
            width: 360px;
            padding: 15px 24px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 129%;
            color: black;

            transition: all 0.3s;

            &::placeholder {
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                line-height: 129%;

                color: #bbb9b9;

            }

            &:focus {
                border: 1px solid #373737;
            }
        }

        &>textarea {
            border-radius: 20px;
            resize: none;

        }

        margin-bottom: 20px;
    }


}

.thank-popup {
    // display: none;
    border-radius: 20px;
    width: 600px;
    height: 545px;
    background: #e03f5e;
    padding: 70px 105px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    &__cross {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    &__image {
        width: 278px;
        height: 239px;
    }

    &__header {
        font-family: $font-family;
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;

        text-transform: uppercase;
        color: #fff;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;

        text-align: center;
        color: #fff;
    }
}

.fade {
    position: fixed;
    z-index: 9;
    background: #00000058;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}

@media (max-width:1300px) {
    .popup {
        max-width: 700px;
        background-position-x: 405px;

        &__basket-name {
            font-size: 18px;
        }

        &__image {
            height: 148px;
        }
    }
}

@media (max-width:800px) {
    .popup {
        padding: 20px;
        width: 335px;
        background-image: none;
        position: absolute;
        top: 10px;
        transform: translateX(-50%);

        &__header {
            font-size: 28px;
        }

        &__basket-list {
            grid-template-columns: 1fr;
        }

        &__basket-item {
            flex-direction: row;
            padding: 20px 22px 8px 20px;
        }

        &__image {
            width: auto;
            height: 95px;
        }

        &__basket-name {
            font-size: 18px;
        }

        &__inputs-wrapper>input,
        &__inputs-wrapper>textarea {
            width: 295px;
        }
    }

    .thank-popup {
        width: 335px;
        padding: 40px 20px;
        height: 426px;

        &__header {
            font-size: 28px;
        }

        &__image {
            width: 207px;
            height: 176px;
            margin-bottom: 20px;
        }
    }
}