$black: #000000;
$red: #AE1332;
$green: #A4CB66;
$yellow: #F5CE13;

$font-family: "DM Sans", sans-serif;

.header {
    color: $red;
    background-color: white;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    position: relative;

    padding: 11px 0;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    &__link {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: -1px;
            transition: all .3s;
            display: block;
            width: 0;
            height: 2px;
            background-color: $red;
        }

        &:hover::before {
            width: 100%;
        }

        &>a {
            color: $red;
        }

    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}